<html>
<head>
</head>
    <style>
ul.pagination{display: inline-block;
    padding: 0;
    margin: 0;}
ul.pagination li{display: inline;}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;}
ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
#search_query{border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        width:130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;}
#search_query:focus{width: 225px;}

div{height: relative;
    width:350px;
    box-shadow: 1px 2px 1px 1px #ccc;
    margin-top: 5px;
    display:block;}
#title{
    font-family: helvetica;
    font-weight: bold;
    margin-bottom: 10px;
    }
#content{font-family: arial;
    font-weight:normal;
    font-size: 14px;}
#img_post{width:relative;
    height:relative;
    font-family: helvetica;
    font-weight: bold;}

<% for i in 0...@links_on_page[@page.to_i].length %>
    <div id="title">
            <a href=<%=@links_on_page[@page.to_i][i]%>><%=@titles_on_page[@page.to_i][i]%></a>
            <% if @types_on_page[@page.to_i][i] == "text" %>
    <div id="content">
                <p><%=@contents_on_page[@page.to_i][i].slice!(0,120) + "..."%></p>
    </div>
    </div>
            <% end %>
    <div id="img_post">
            <% if @types_on_page[@page.to_i][i] == "image" %>
                <blockquote class="imgur-embed-pub" lang="en" data-id="<%= @contents_on_page[@page.to_i][i][0]%>">
                <a href="<%= @contents_on_page[@page.to_i][i][1]%>"></a>
                </blockquote>
                <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
    </div>
            <% end %>
    <% end %>

    <ul class="pagination">
    <% for i in (0...@pages.to_i) %>
        <li><a href=<%="?page=#{i.to_s}"%>><%=(i+1).to_s%></a></li>
    <% end %> 
    </ul>
</body>
</html>