<html>
<style>
#form{border:2px black solid;
	width:594px;}
dt{font-family: helvetica;
font-weight: bold;}
dt1{font-family: helvetica; 
color:red;}
dd{font-family: arial;}
#post_title{height: 30px;
			width:250px;
			font-weight: bold;
			font-size: 27px;
			margin-bottom: 5px;
			padding-bottom: 12px;
			padding-top: 10px;}
#textinput{font-family: arial;}
#enter_post{background-color: white;
			margin-left: 47px;
			margin-right: 47px;
            color: black;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            border: 1px solid #000000;
            margin-bottom: 20px;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;}
#enter_post:hover{background-color: #000000;
     		color: white;
            border: 1px solid white;}
dd1{color:red;
	font-family: arial;
	padding-left: 20px;}
</style>
<head>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea', width: 500, max_width: 500, plugins: "advlist,image,autolink,link,fullscreen" });</script>
</head>
<body>
<form method="post" id="form">
	<d1>
		<dt>Article Title:</dt>
		<% if @title == nil %>
			<dd><input name="post_title" type="text" id="post_title"></dd>
		<% else %>
			<dd><input name="post_title" type="text" value="<%=@title%>" id="post_title"></dd>
		<% end %>
		<dt1><%="Whoops! You forgot a title" if @empty_title%></dt1>
		<dt1><%="This article already exists" if @title_conflict %></dt1>
		<dt>Article Body:</dt>
		<% if @body == nil %>
			<dd><textarea name="post_body" style="width:500px;height:400px;" id="textinput"></textarea></dd>
		<% else %>
			<dd><textarea name="post_body" style="width:500px;height:400px; " id="textinput"><%=@body%></textarea></dd>
		<% end %>
		<dt1><%="Your post must include a body" if @empty_body%></dt1>
		<dt>Tags:</dt>
		<% if @tags == nil %>
			<dd><input name="post_tags" type="text"></dd>
		<% else %>
			<dd><input name="post_tags" type="text" value="<%=@tags%>"></dd>
		<% end %>
		<dt1><%="Don't forget a tag!" if @empty_tag%></dt1>
	</d1>
	<p><input name="submit_draft" type="submit" value="Save Draft" id="enter_post">
	<p><input name="submit_post" type="submit" value="Submit Post" id="enter_post"></p>
</form>
</body>
<html>