<html>
<style>
#text_post{height: relative;
    width:375px;
    box-shadow: 1px 2px 1px 1px #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    word-wrap: break-word;}
h7{color:black;
     transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;}
h7:hover{background-color: #ddd;
}
#title{font-family: helvetica;
    font-weight: bold;
    font-size: 17px;}
#content{font-family: arial;
    font-weight:normal;
    font-size: 14px;
    padding-left: 0;
    max-width: 300px;
    }
#img_post{width:relative;
    height:relative;
    max-width: 500px;
    font-family: helvetica;
    font-weight: bold;
    box-shadow: 1px 2px 1px 1px #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;}
h3{font-family: helvetica;
    font-size: 23px;}
h8{color:red;
    font-family: helvetica;
    font-weight: normal;
}

</style>
<h3>Hello, <%=@user["display_name"]%>!</h3>
<% @posts_on_page[@page].each do |post| %>
        <% if post["type"] == "text" %>
            <div id="text_post">
                <div id="title"> 
                <a href=<%='posts/' + post["title"].split().join('-')%>><h7><%=post["title"]%><h7></a>
                </div>
                <div id="content>"
                <p><%=post["body"].slice!(0,120) + "..."%></p>
                </div>
            </div>
        <% end %>
        <% if post["type"] == "text_draft"%>
            <div id="text_post">
                <div id="title"> 
                <a href=<%='posts/' + post["title"].split().join('-')%>><h8>[Draft]</h8>&nbsp<h7><%=post["title"]%><h7></a>
                </div>
                <div id="content>"
                <p><%=post["body"].slice!(0,120) + "..."%></p>
                </div>
            </div>
        <% end %>
        <% if post["type"] == "image" %>
            <div id="img_post">
                <div id="imgTitle">
                <a href=<%=post["link"]%>><h7><%=post["title"]%><h7></a>
                </div>
                <blockquote class="imgur-embed-pub" lang="en" data-id="<%= "a/#{post["image_link"]}"%>">
                <a href="<%= "//imgur.com/#{post["link"]}"%>"></a>
                </blockquote>
                <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            </div>
        <% end %>
        <% if post["type"] == "image_gallery" %>
            <div id="img_post">
                <div id="imgTitle">
                <a href=<%=post["link"]%>><h7><%=post["title"]%><h7></a>
                </div>
                <blockquote class="imgur-embed-pub" lang="en" data-id="<%= "a/#{post["image_link"]}"%>">
                <a href="<%= "//imgur.com/#{post["link"]}"%>"></a>
                </blockquote>
                <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            </div>
        <% end %>
<% end %>
</html>